.logo-img {
  height: 60px;
}

.peach-bg {
  background-color: #FFDAB9 !important;
  border: none !important;
}

.peach-color {
  color: #FFDAB9 !important;
}

.border-peach {
  border-color: #FFDAB9 !important;
}

.text-primary {
  color: #7367F0 !important;
}

.bg-pink {
  background-color: #fe89d9 !important;
  border: none !important;
}

.bg-outline-pink {
  background-color: transparent !important;
  border: 1px solid #fe89d9 !important;
  color: #fe89d9 !important;
}

.text-pink {
  color: #fe89d9 !important;
}

.text-dark-blue {
  color: #0009f4 !important;
}

.bg-dark-blue {
  background-color: #0009f4 !important;
  border: none !important;
}

.bg-outline-dark-blue {
  background-color: transparent !important;
  border: 1px solid #0009f4 !important;
  color: #0009f4 !important;
}

.dropzone .guest-id-text {
  font-size: 1rem !important;
}

.dropzone .guest-id-text::before {
  font-size: 18px !important;
  height: 25px;
  width: 25px;
  top: 4rem !important;
}

.guest-id-field {
  height: 100px !important;
  min-height: 0px !important;
}

